 .radio-group-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.radio-group {
height: 290px;
width: 450px;
  
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column; 
  gap: 15px; 
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);

}

.radio-group label {
  display: flex; 
  align-items: center;
  font-size: 21px;
  cursor: pointer;
  gap: 10px;
  margin-top: 10px;
  margin-left: 15px;
  
}

.text {
    position: absolute;
    height: 50px;
    width: 120px;
    border: 1px solid rgba(0, 0, 255, 0.826); 
    border-radius: 999px;
    padding: 3px 32px;
    background-color: blue;
    gap: 16px;
    font-size: 20px;
    color: #f9f9f9;      
    margin-top: 220px;  
    margin-left: 15px;
    box-shadow: 0 4px 15px #38bdf8aa;
    transition: all 0.3s ease;
}

.text:hover {
      transform: translateY(-3px);
    }


.quiz {

    background-color: #4caf50;
    height: 50px;
    width: 200px;
    border: 0.1px solid aqua; 
    border-radius: 999px;
    padding: 3px 32px;
    gap: 16px;
    font-size: 20px;
    color: white;   
    margin-top: 15px;  
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease-in-out; 
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); 
    
}
      
.quiz:hover {
    transform: translate(2px, 2px); 
    box-shadow: none; 
    }

.pics{
    width: 180px;
    height: 150px;
   margin-top: -150px;
   margin-bottom: 50px;
   margin-left: 260px;
   border-radius: 10px;
}
.number{

    color: #4caf50;
    
}

.ques{
    color: darkcyan;
}

.whatsapp-button {
      background-color: #25D366;
      color: white;
      padding: 12px 24px;
      border-radius: 30px;
      border: none;
      text-decoration: none;
      font-weight: bold;
      display: inline-flex;
      align-items: center;
      font-family: Arial, sans-serif;
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    .whatsapp-button img {
      height: 20px;
      margin-right: 10px;
    }

    .whatsapp-button:hover {
      background-color: darkcyan;
    }


    @keyframes fadeAnimation {
      0%, 100% { opacity: 0; }
      50% { opacity: 1; }
    }

    .design{
      margin-bottom: 25px;
      color: blue;
      animation: fadeAnimation 4s infinite;
      margin-top: 40px;
      
    }

  .linkedin-button {
    background-color: #0076b5b7;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 3px;
  }

  .linkedin-button img {
    height: 20px;
    margin-right: 10px;
  }

  .linkedin-button:hover {
    background-color: darkcyan;
  }

  .github-button {
    background-color: #333333d8;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 3px;
    width: 220px;               
    justify-content: center;     
  }

  .github-button img {
    height: 20px;
    margin-right: 10px;
  }

  .github-button:hover {
    background-color: #555;
  }




