<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button onclick="f()">Submit</button>
    <br>
<label>
    <input type="radio"name="a" id="a" />
    </label>

    <label>
    <input type="radio"name="a" id="b" />
    </label>
    
    <label>
    <input type="radio"name="a" id="c"/>
    </label>

<label>  
<input type="radio"name="a" id="d" />
</label> 

<label>
<input style="display: none;" type="radio"name="a"id="e"/>
</label>

<input type="checkbox"/>

<script>
    function f(){
        document.getElementById("e").checked=true;
    }
</script>
</body>
</html>